<div class="page-wrapper">

	<main class="main">
		<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
			<div class="container">
				<h1 class="page-title">Admin Dashboard</h1><span>manage</span></h1>
			</div><!-- End .container -->
		</div><!-- End .page-header -->


		<div class="page-content">
			<div class="dashboard">
				<div class="container">
					<div class="row">
						<aside class="col-md-4 col-lg-3">
							<ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
								<li class="nav-item">
									<a class="nav-link active" id="tab-addProduct-link" data-toggle="tab"
										href="#tab-updateProfile" role="tab" aria-controls="tab-addProduct"
										aria-selected="true">Update Profile</a>
								</li>

								<li class="nav-item">
									<a class="nav-link" id="tab-downloads-link" data-toggle="tab"
										href="#tab-addCategory" role="tab" aria-controls="tab-downloads"
										aria-selected="false">Add Category</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="tab-address-link" data-toggle="tab" href="#tab-addCoupons"
										role="tab" aria-controls="tab-address" aria-selected="false">Add Coupons</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="tab-account-link" data-toggle="tab" href="#tab-addProduct"
										role="tab" aria-controls="tab-account" aria-selected="false">Add Product</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="tab-products-link" href="/admin/adminviewcategories"
										role="tab" aria-controls="tab-products" aria-selected="false">View
										categories</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="tab-account-link" href="/admin/adminviewproducts" role="tab"
										aria-controls="tab-account" aria-selected="false">View Products</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="tab-account-link" href="/admin/adminviewusers" role="tab"
										aria-controls="tab-account" aria-selected="false">View Cleints</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="tab-account-link" href="/admin/managecoupons" role="tab"
										aria-controls="tab-account" aria-selected="false">View coupons</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="tab-account-link" href="/admin/getorder" role="tab"
										aria-controls="tab-account" aria-selected="false">View Orders</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="tab-account-link" href="/admin/sales" role="tab"
										aria-controls="tab-account" aria-selected="false">View sales</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="tab-account-link" href="/admin/orderedUsers" role="tab"
										aria-controls="tab-account" aria-selected="false">View ordered users</a>
								</li>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="tab-account-link" href="/admin/total-sales" role="tab"
										aria-controls="tab-account" aria-selected="false">View chart</a>
								</li>


								<li class="nav-item">
									<form action="/admin/logout" method="post">
										<button type="submit" class="btn btn-outline-primary-2">
											<span>SIGN OUT</span>
											<i class="icon-long-arrow-right"></i>
										</button>
									</form>
								</li>
							</ul>
						</aside><!-- End .col-lg-3 -->

						<div class="col-md-8 col-lg-9">
							<div class="tab-content">
								<div class="tab-pane fade show active" id="tab-updateProfile" role="tabpanel"
									aria-labelledby="tab-updateProfile-link">
									<form action="/admin/updateprofile" method="get">
										<label>Email address *</label>
										<input type="email" name="email" class="form-control" required>

										<label>Current password (leave blank to leave unchanged)</label>
										<input type="password" name="password" class="form-control">





										<button type="submit" class="btn btn-outline-primary-2">
											<span>SAVE CHANGES</span>
											<i class="icon-long-arrow-right"></i>
										</button>
									</form>
								</div><!-- .End .tab-pane -->

								<div class="tab-pane fade" id="tab-addCategory" role="tabpanel"
									aria-labelledby="tab-addCategory-link">
									<form action="/admin/addcategory" method="post" enctype="multipart/form-data">


										<label>Category Name</label>
										<input type="text" name="name" class="form-control" required>
										<small class="form-text">specifies name of a Category</small>
										<label>Category Description</label>
										<input type="text" name="description" class="form-control" required>
										<small class="form-text">specifies description to Category</small>

										<div class="form-group col-md-6">
											<input type="file" name="image" class="form-control" id="inputGroupFile02">
											<small class="form-text">specifies Image to Category</small>
											<label class="input-group-text" for="inputGroupFile02">Upload</label>
										</div>

										<button type="submit" class="btn btn-outline-primary-2">
											<span>SAVE CHANGES</span>
											<i class="icon-long-arrow-right"></i>
										</button>
									</form>
								</div><!-- .End .tab-pane -->
								<div class="tab-pane fade" id="tab-addProduct" role="tabpanel"
									aria-labelledby="tab-addproduct-link">
									<form action="/admin/addproduct" method="post" enctype="multipart/form-data">
										<div class="row">
											<div class="col-sm-6">
												<label>Product Name *</label>
												<input type="text" name="name" class="form-control" required>
											</div><!-- End .col-sm-6 -->

											<div class="form-group col-md-6">
												<label>Category Name *</label>
												<select id="category" name="category">
													{{#each data}}
													<option>{{this.name}}</option>
													{{/each}}
												</select>

											</div><!-- End .col-sm-6 -->

											<div class="form-group col-md-6">
												<input type="file" name="image" class="form-control"
													id="inputGroupFile02">
												<label class="input-group-text" for="inputGroupFile02">Upload</label>
											</div>
											<div class="col-sm-6">
												<label>Brand Name *</label>
												<input type="text" name="brand" class="form-control" required>
											</div>
										</div><!-- End .row -->
										<label>Description</label>
										<input type="text" class="form-control" name="description" required>
										<label>Rich Description</label>
										<input type="text" class="form-control" name="richDescription" required>
										<label>isFeatured</label>
										<input type="text" class="form-control" name="isFeatuered" required>
										<label>Price</label>
										<input type="number" name="price" class="form-control" required>
										<label>Product Count</label>
										<input type="number" class="form-control" name="countInStock" required>
										<button type="submit" class="btn btn-outline-primary-2">
											<span>SAVE CHANGES</span>
											<i class="icon-long-arrow-right"></i>
										</button>
									</form>
								</div><!-- .End .tab-pane -->
								<div class="tab-pane fade" id="tab-addCoupons" role="tabpanel"
									aria-labelledby="tab-addCoupons-link">
									{{!-- <form action="/admin/addcoupon" method="post">
										<label>Coupon Name</label>
										<input type="text" class="form-control" required>
										<div class="form-group col-md-6">
											<input type="file" name="image" class="form-control" id="inputGroupFile02">
											<label class="input-group-text" for="inputGroupFile02">Upload</label>
										</div>
										<button type="submit" class="btn btn-outline-primary-2">
											<span>SAVE CHANGES</span>
											<i class="icon-long-arrow-right"></i>
										</button>
									</form> --}}
									<form action="/admin/addcoupon" method="post" id="form">
										<div class="row">
											<div class="col-md-12 grid-margin">
												<div class="card card-white">
													<div class="card-heading clearfix">
														<h4 class="card-title">General</h4>
													</div>
													<div class="card-body">

														<div class="form-group">
															<label for="exampleInput1">Coupon Title</label>
															<input type="text" class="form-control" name="couponName"
																id="couponName" />
														</div>
														<div class="form-group">
															<label for="exampleInput2">Coupon Code</label>
															<input type="text" class="form-control" name="couponCode"
																id="couponCode" />
														</div>
														<div class="form-group">
															<label>Start Date</label>
															<input type="date" class="form-control " name="startDate"
																id="startDate" />
														</div>
														<div class="form-group">
															<label>End Date</label>
															<input type="date" class="form-control" name="endDate"
																id="endDate" />
														</div>

														<div class="form-group">
															<label for="exampleInput3">Quantity</label>
															<input type="number" class="form-control" name="quantity"
																id="quantity" />
														</div>
														<div class="form-group">
															<label for="exampleInput3">Discount Percentage</label>
															<input type="number" class="form-control"
																name="percentDiscount" placeholder="Enter percentage"
																id="percentDiscount" />
														</div>

													</div>
												</div>
											</div>
										</div>
										<!-- end row -->

										<!-- row -->
										<div class="row">
											<div class="col-md-6 grid-margin">
												<div class="form-group">
													<label for="exampleInput5">Minimum Spend</label>
													<input type="number" class="form-control" id="minimumSpend"
														name="minimumSpend" />
												</div>


											</div>
										</div>

										<div class="col-md-6 grid-margin">
											<div class="card card-white h-100">
												<div class="form-group">
													<label for="exampleInput6">Maximum Discount</label>
													<input type="number" class="form-control" id="maximumDiscount"
														name="maximumDiscount" />
												</div>


												<button type="submit" class="btn btn-primary">Submit</button>
											</div>
										</div>

									</form>
								</div><!-- .End .tab-pane -->
								<div class="tab-pane fade" id="tab-updateProfile" role="tabpanel"
									aria-labelledby="tab-updateProfile-link">
									<form action="/admin/updateprofile" method="post">
										<label>Email address *</label>
										<input type="email" name="email" class="form-control" required>

										<label>Current password (leave blank to leave unchanged)</label>
										<input type="password" name="password" class="form-control">





										<button type="submit" class="btn btn-outline-primary-2">
											<span>SAVE CHANGES</span>
											<i class="icon-long-arrow-right"></i>
										</button>
									</form>
								</div><!-- .End .tab-pane -->
								{{!--
								<div class="tab-pane fade" id="tab-products" role="tabpanel"
									aria-labelledby="tab-products-link">
									<div class="container">
										<table class="table table-wishlist table-mobile">
											<thead>
												<tr>
													<th>Product</th>
													<th>Brand</th>
													<th>Title</th>

													<th>Price</th>
													<th>wishlisted</th>
													<th>Stock Status</th>

													<th></th>
													<th></th>
												</tr>
											</thead>

											<tbody>
												{{#each items}}
												<tr>
													<td class="product-col">
														<div class="product">
															<figure class="product-media">
																<a href="/productdetails/{{this.id}}">
																	<img src="/../{{this.image}}" alt="Product image">
																</a>
															</figure>


														</div><!-- End .product -->
													</td>
													<td class="brand-col">{{this.brand}}</td>
													<td class="title-col">{{this.name}}</td>
													<td class="price-col">{{this.price}}</td>
													<td class="wishlisted-col">{{this.wishList.length}}<a
															href="/admin/viewwishlisted/{{this.id}}"> User added to
															wishlist</a></td>
													<td class="stock-col"><span class="in-stock">In stock</span></td>



													<td class="edit-col"> <a href="/admin/productedit/{{this.id}}"
															class="text-success"><i
																class="fas fa-edit fa-lg mx-1"></i></a></td>
													<td class="remove-col"> <a href="/admin/delete/{{this.id}}"
															class="text-danger"><i
																class="fas fa-trash fa-lg mx-1"></i></a></td>
												</tr>
												{{/each}}

											</tbody>
										</table><!-- End .table table-wishlist -->

									</div><!-- End .container -->
								</div> --}}

							</div>
						</div><!-- End .col-lg-9 -->
					</div><!-- End .row -->
				</div><!-- End .container -->
			</div><!-- End .dashboard -->
		</div><!-- End .page-content -->
	</main><!-- End .main -->

	{{!--
</div><!-- End .page-wrapper -->
<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button> --}}
</div>

<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>


<script>
	if ({{ msg_add }}) {

		document.getElementById('incorrects').innerHTML = "Category Added Succesfully "
		document.getElementById('incorrects').style.display = 'block';
		setTimeout(() => {
			document.getElementById('incorrects').style.display = 'none';
		}, 3000);
	}
	if ({{ msg_exist }}) {
		document.getElementById('incorrect').innerHTML = "Category Already Exists "
		document.getElementById('incorrect').style.display = 'block';
		setTimeout(() => {
			document.getElementById('incorrect').style.display = 'none';
		}, 3000);
	}
	if ({{ msg_error }}) {
		document.getElementById('incorrect').innerHTML = " ERROR!Unable to add to Category"
		document.getElementById('incorrect').style.display = 'block';
		setTimeout(() => {
			document.getElementById('incorrect').style.display = 'none';
		}, 3000);
	}
</script>