  <div class="page-wrapper">
       
        <main class="main">
        	<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">Wishlist<span>Shop</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                      
                        <li class="breadcrumb-item active" aria-current="page">Wishlisted users</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
            	<div class="container">
					<table class="table table-wishlist table-mobile">
						<thead>
							<tr>
								<th>Name</th>
								<th>Email</th>
								<th>phone</th>
								<th></th>
								<th></th>
							</tr>
						</thead>

						<tbody>
							{{#if users}}
							{{#each users}}
							<tr>
								
								<td class="price-col">{{this.name}}</td>
								<td class="stock-col"><span class="in-stock">{{this.email}}</span></td>
								<td class="phone">{{this.mobile}}</td>
								
								<td class="remove-col"><form action="/deletewish/{{this.id}}" method="post"><button  type="submit" class="btn-remove"><i class="icon-close"></i></button></form></td>
							</tr>
							{{/each}}
							{{else}}
							<h2>no one added to their wishlist</h2>
							{{/if}}
							
						</tbody>
					</table><!-- End .table table-wishlist -->
	            	{{!-- <div class="wishlist-share">
	            		<div class="social-icons social-icons-sm mb-2">
	            			<label class="social-label">Share on:</label>
	    					<a href="#" class="social-icon" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
	    					<a href="#" class="social-icon" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
	    					<a href="#" class="social-icon" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
	    					<a href="#" class="social-icon" title="Youtube" target="_blank"><i class="icon-youtube"></i></a>
	    					<a href="#" class="social-icon" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
	    				</div><!-- End .soial-icons -->
	            	</div><!-- End .wishlist-share --> --}}
            	</div><!-- End .container -->
            </div><!-- End .page-content -->
			
        </main><!-- End .main -->

     
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>