 <div class="page-wrapper">
    <main class="main">
        
            
           
            <div class="pt-2 pb-3">
                <div class="container">
                    
                      
                    <div class="row">
                      {{#each categoies }}

                        <div class="col-sm-6">
                            <div class="banner banner-overlay">
                                <a href="/getproductsC/{{this.id}}">
                                    <img src="{{this.image}}"  class="spacing_noMargin__Q_PsJ MediaCard_image__ljFAl">
                                </a>

                                <div class="banner-content banner-content-center">
                              
                                    <h1 class="banner-title text-white"><a href="#"><strong>{{this.name}}</strong></h1><!-- End .banner-title -->
                                    <a href="/getproductsC/{{this.id}}" class="btn btn-outline-white banner-link underline">Shop Now</a>
                                </div><!-- End .banner-content -->
                            </div><!-- End .banner -->
                        </div><!-- End .col-sm-6 -->
                      {{/each}}
                        {{!-- <div class="col-sm-6">
                            <div class="banner banner-overlay">
                                <a href="#">
                                    <img src="https://images.pexels.com/photos/1643457/pexels-photo-1643457.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500" srcset="https://images.pexels.com/photos/1643457/pexels-photo-1643457.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=150 150w, https://images.pexels.com/photos/1643457/pexels-photo-1643457.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=300 300w, https://images.pexels.com/photos/1643457/pexels-photo-1643457.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=400 400w, https://images.pexels.com/photos/1643457/pexels-photo-1643457.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=600 600w, https://images.pexels.com/photos/1643457/pexels-photo-1643457.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=800 800w, https://images.pexels.com/photos/1643457/pexels-photo-1643457.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=1200 1200w, https://images.pexels.com/photos/1643457/pexels-photo-1643457.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=1600 1600w" sizes="(max-width: 650px) calc((100vw - 30px - 15px) / 2), (max-width: 900px) calc((100vw - 30px - 15px) / 2), (max-width: 1440px) calc((100vw - 60px - 60px) / 3), (max-width: 1600px) calc((100vw - 160px - 60px) / 3), calc((1600pxpx - 160px - 60px) / 3)" alt="Free Person Holding White Kitten With Flowers Necklace Stock Photo" class="spacing_noMargin__Q_PsJ MediaCard_image__ljFAl">
                                </a>

                                <div class="banner-content banner-content-center">
                                    
                                    <h3 class="banner-title text-white"><a href="#"><strong>CAT PRODUCTS</strong></a></h3><!-- End .banner-title -->
                                    <a href="/c-p" class="btn btn-outline-white banner-link underline">Shop Now</a>
                                </div><!-- End .banner-content -->
                            </div><!-- End .banner -->
                        </div><!-- End .col-sm-6 --> --}}
                    </div><!-- End .row -->
                    <hr class="mt-0 mb-0">
                </div><!-- End .container -->
            </div><!-- End .bg-gray -->

            
            {{!-- <div class="pt-2 pb-3">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="banner banner-overlay">
                                <a href="#">
                                    <img src="https://images.pexels.com/photos/248241/pexels-photo-248241.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500" srcset="https://images.pexels.com/photos/248241/pexels-photo-248241.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=150 150w, https://images.pexels.com/photos/248241/pexels-photo-248241.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=300 300w, https://images.pexels.com/photos/248241/pexels-photo-248241.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=400 400w, https://images.pexels.com/photos/248241/pexels-photo-248241.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=600 600w, https://images.pexels.com/photos/248241/pexels-photo-248241.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=800 800w, https://images.pexels.com/photos/248241/pexels-photo-248241.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=1200 1200w, https://images.pexels.com/photos/248241/pexels-photo-248241.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=1600 1600w" sizes="(max-width: 650px) calc((100vw - 30px - 15px) / 2), (max-width: 900px) calc((100vw - 30px - 15px) / 2), (max-width: 1440px) calc((100vw - 60px - 60px) / 3), (max-width: 1600px) calc((100vw - 160px - 60px) / 3), calc((1600pxpx - 160px - 60px) / 3)" alt="Free Close-Up Photo of Bird Stock Photo" class="spacing_noMargin__Q_PsJ MediaCard_image__ljFAl">

                              </a>

                                <div class="banner-content banner-content-center">
                                    
                                    <h3 class="banner-title text-white"><a href="#"><strong>BIRD PRODUCTS</strong></h3><!-- End .banner-title -->
                                    <a href="/b-p" class="btn btn-outline-white banner-link underline">Shop Now</a>
                                </div><!-- End .banner-content -->
                            </div><!-- End .banner -->
                        </div><!-- End .col-sm-6 -->

                        <div class="col-sm-6">
                            <div class="banner banner-overlay">
                                <a href="#">
                                    <img src="https://images.pexels.com/photos/1894346/pexels-photo-1894346.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500" srcset="https://images.pexels.com/photos/1894346/pexels-photo-1894346.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=150 150w, https://images.pexels.com/photos/1894346/pexels-photo-1894346.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=300 300w, https://images.pexels.com/photos/1894346/pexels-photo-1894346.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=400 400w, https://images.pexels.com/photos/1894346/pexels-photo-1894346.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=600 600w, https://images.pexels.com/photos/1894346/pexels-photo-1894346.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=800 800w, https://images.pexels.com/photos/1894346/pexels-photo-1894346.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=1200 1200w, https://images.pexels.com/photos/1894346/pexels-photo-1894346.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=1600 1600w" sizes="(max-width: 650px) calc((100vw - 30px - 15px) / 2), (max-width: 900px) calc((100vw - 30px - 15px) / 2), (max-width: 1440px) calc((100vw - 60px - 60px) / 3), (max-width: 1600px) calc((100vw - 160px - 60px) / 3), calc((1600pxpx - 160px - 60px) / 3)" alt="Free Fish Underwater Stock Photo" class="spacing_noMargin__Q_PsJ MediaCard_image__ljFAl">
                                </a>

                                <div class="banner-content banner-content-center">
                            
                                    <h3 class="banner-title text-white"><a href="#"><strong>FISH FISH PRODUCTS</strong></a></h3><!-- End .banner-title -->
                                    <a href="f-p" class="btn btn-outline-white banner-link underline">Shop Now</a>
                                </div><!-- End .banner-content -->
                            </div><!-- End .banner -->
                        </div><!-- End .col-sm-6 -->
                    </div><!-- End .row -->
                    <hr class="mt-0 mb-0">
                </div><!-- End .container -->
            </div><!-- End .bg-gray --> --}}


{{!-- 



             <div class="container">
                <h2 class="title text-center mb-4">NEW  DOG</h2><!-- End .title text-center -->
                  {{let [dogs,cats] = product}}
                <div class="products">
                    <div class="row justify-content-center">
                         {{#each dog}}
                        <div class="col-6 col-md-4 col-lg-3">
                            <div class="product product-7 text-center">
                                <figure class="product-media">
                                   
                                    <a href="product.html">
                                        <img src="{{this.image}}" alt="Product image" class="product-image">
                                       
                                    </a>

                                    <div class="product-action-vertical">
                                        <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                    </div><!-- End .product-action-vertical -->

                                    <div class="product-action">
                                        <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                    </div><!-- End .product-action -->
                                </figure><!-- End .product-media -->

                                <div class="col-md-6 col-lg-6 col-xl-6">
                <h5>{{this.breed}}</h5>
                <div class="d-flex flex-row">
                  <div class="text-danger mb-1 me-2">

				<P>Age:{{this.age}}</P>
				<P>Catagory:{{this.catagory}}</P>
				<P>{{this.gender}}</P>
                <h5>{{this.price}}</h5>
             
    
				
				
                  </div>
                
                </div>
               
               
              
              </div>

                             
                            </div><!-- End .product -->
                        </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->
                        {{/each}}
                       
                    </div><!-- End .row -->
                </div><!-- End .products -->

            </div>






                <div class="container">
                <h2 class="title text-center mb-4">NEW  CAT</h2><!-- End .title text-center -->
                 
                <div class="products">
                    <div class="row justify-content-center">
                         {{#each cat}}
                        <div class="col-6 col-md-4 col-lg-3">
                            <div class="product product-7 text-center">
                                <figure class="product-media">
                                   
                                    <a href="product.html">
                                        <img src="{{this.image}}" alt="Product image" class="product-image">
                                       
                                    </a>

                                    <div class="product-action-vertical">
                                        <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                    </div><!-- End .product-action-vertical -->

                                    <div class="product-action">
                                        <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                    </div><!-- End .product-action -->
                                </figure><!-- End .product-media -->

                                <div class="product-body">
                                    <div class="product-cat">
                                    </div><!-- End .product-cat -->
                                    <h3 class="product-title"><a href="#">{{this.breed}}</a></h3><!-- End .product-title -->
                                    <h3 class="product-title"><a href="#">{{this.age}}</a></h3>
                                   <h3 class="product-title"><a href="#">{{this.gender}}</a></h3>
                                   <h3 class="product-title"><a href="#">{{this.breed}}</a></h3>
                                    <h3 class="product-title"><a href="#">{{this.price}}</a></h3>
                                </div>
                                  
                            </div>
                            </div>
                        
                            
                        {{/each}}
</div></div></div>

              <div class="container">
                <h2 class="title text-center mb-4">NEW  BIRD</h2><!-- End .title text-center -->
                 
                <div class="products">
                    <div class="row justify-content-center">
                         {{#each bird}}
                        <div class="col-6 col-md-4 col-lg-3">
                            <div class="product product-7 text-center">
                                <figure class="product-media">
                                   
                                    <a href="product.html">
                                        <img src="{{this.image}}" alt="Product image" class="product-image">
                                       
                                    </a>

                                    <div class="product-action-vertical">
                                        <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                    </div><!-- End .product-action-vertical -->

                                    <div class="product-action">
                                        <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                    </div><!-- End .product-action -->
                                </figure><!-- End .product-media -->

                                <div class="product-body">
                                    <div class="product-cat">
                                        <a href="#">{{this.catagory}}</a>
                                    </div><!-- End .product-cat -->
                                    <h3 class="product-title"><a href="#">{{this.breed}}</a></h3><!-- End .product-title -->
                                    <h3 class="product-title"><a href="#">{{this.age}}</a></h3>
                                   <h3 class="product-title"><a href="#">{{this.gender}}</a></h3>
                                   
                                    <h3 class="product-title"><a href="#">{{this.price}}</a></h3>
                                </div><!-- End .product-body -->
                            </div><!-- End .product -->
                        </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->
                        {{/each}}
</div></div></div>


                          <div class="container">
                <h2 class="title text-center mb-4">NEW  FISH</h2><!-- End .title text-center -->
                  {{!-- {{let [dogs,cats] = product}} --}}
                {{!-- <div class="products">
                    <div class="row justify-content-center">
                         {{#each fish}}
                        <div class="col-6 col-md-4 col-lg-3">
                            <div class="product product-7 text-center">
                                <figure class="product-media">
                                   
                                    <a href="product.html">
                                        <img src="{{this.image}}" alt="Product image" class="product-image">
                                       
                                    </a>

                                    <div class="product-action-vertical">
                                        <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                    </div><!-- End .product-action-vertical -->

                                    <div class="product-action">
                                        <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                    </div><!-- End .product-action -->
                                </figure><!-- End .product-media -->

                                <div class="col-md-6 col-lg-6 col-xl-6">
                <h5>{{this.breed}}</h5>
                <div class="d-flex flex-row">
                  <div class="text-danger mb-1 me-2">

				<P>Catagory:{{this.catagory}}</P>
				<P>{{this.gender}}</P>
                <h5>{{this.price}}</h5>
             
    
				
				
                  </div>
                
                </div>
               
               
              
              </div>

                             
                            </div><!-- End .product -->
                        </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->

                       {{/each}}
                    </div><!-- End .row -->
                </div><!-- End .product                        s --> --}} --}}

         
                    
              </main> 
            </div>
         
              
