<main>
<div class="page-wrapper">
<section class="h-100 h-custom" style="background-color: #5c5b63;">
  <div class="container py-5 h-100"data    <button type="button" class="btn btn-lg btn-primary" disabled><a href="/">back to Home</a> </button>>
  
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-8 col-xl-6">
        {{#if successFlash}}
    <div class="alert alert-success">
        {{successFlash}}
    </div>
{{/if}}
<h1>Thank You!</h1>
        <div class="card border-top border-bottom border-3" style="border-color: #f37a27 !important;">
          <div class="card-body p-5">

            <p class="lead fw-bold mb-5" style="color: #f37a27;">Purchase Reciept</p>

            <div class="row">
              <div class="col mb-3">
                <p class="small text-muted mb-1">Date</p>
                <p>{{order.orderDate}}</p>
              </div>
              <div class="col mb-3">
                <p class="small text-muted mb-1">Order No.</p>
                <p>{{order.id}}</p>
              </div>
            </div>

            <div class="mx-n5 px-5 py-4" style="background-color: #f2f2f2;">
              <div class="row">

{{#each order.products}}
  
    {{#each this}}

                <div class="col-md-8 col-lg-9">
                  <p>{{this.productName}}</p>
                </div>
                <div class="col-md-4 col-lg-3">
                  <p> {{this.price}} X Quantity : {{this.quantity}} X days : {{this.daysOfRent}}</p>
                </div>
              
               {{/each}}

{{/each}}
              </div>

            
            </div>

            <div class="row my-4">
              {{#if (order.couponApplied)}}
              <div class="col-md-4 offset-md-8 col-lg-3 offset-lg-9">
                <p class="lead fw-bold mb-0" style="color: #f37a27;">Coupon : Applied successfully{{order.couponApplied}}</p>
              </div>
              {{else}}
                <div class="col-md-4 offset-md-8 col-lg-3 offset-lg-9">
                <p class="lead fw-bold mb-0" style="color: #f37a27;">Coupon : not Applied</p>
              </div>
              {{/if}}
              {{#each order.products}}
              {{#each (limit this 1)}}
               <div class="col-md-4 offset-md-8 col-lg-3 offset-lg-9">
                <p class="lead fw-bold mb-0" style="color: #f37a27;">Total Days : {{this.daysOfRent}}</p>
              </div>
              {{/each}}{{/each}}
              <div class="col-md-4 offset-md-8 col-lg-3 offset-lg-9">
                <p class="lead fw-bold mb-0" style="color: #f37a27;">Total : {{order.totalPrice}}</p>
              </div>
            </div>

            <p class="lead fw-bold mb-4 pb-2" style="color: #f37a27;">Tracking Order</p>

            <div class="row">
              <div class="col-lg-12">

                <div class="horizontal-timeline">

                  <ul class="list-inline items d-flex justify-content-between">
                    <li class="list-inline-item items-list">
                      <p class="py-1 px-2 rounded text-white" style="background-color: #f37a27;">Ordered</p
                        class="py-1 px-2 rounded text-white" style="background-color: #f37a27;">
                    </li>
                    <li class="list-inline-item items-list">
                      <p class="py-1 px-2 rounded text-white" style="background-color: #f37a27;">Shipped</p
                        class="py-1 px-2 rounded text-white" style="background-color: #f37a27;">
                    </li>
                    <li class="list-inline-item items-list">
                      <p class="py-1 px-2 rounded text-white" style="background-color: #f37a27;">On the way
                      </p>
                    </li>
                    <li class="list-inline-item items-list text-end" style="margin-right: 8px;">
                      <p style="margin-right: -8px;">Delivered</p>
                    </li>
                  </ul>

                </div>

              </div>
            </div>

            <p class="mt-4 pt-2 mb-0">Want any help? <a href="#!" style="color: #f37a27;">Please contact
                us</a></p>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
</main>



